*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


canvas {
    display: block;
    background-color: #e91e63
}


video {
    position: absolute;
    top: 0;
    left: 0;
}
